{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<h1>Cook list<a class="btn btn-primary" style="float: right;" href="{% url 'kitchen:cook-create' %}">+</a></h1>
  <form method="get" action="" class="form-inline d-flex">
    <div class="me-2">{{ search_form|crispy }}</div>
    <input class="btn btn-secondary" type="submit" value="👀">
  </form>
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Experience</th>
        <th>ID</th>
      </tr>
      {% for cook in cook_list %}
      	<tr>
          <td>
            <a href="{{ cook.get_absolute_url }}">{{ cook.username }}</a>
          </td>
          <td>
            {{ cook.first_name }} {{ cook.last_name }}
          </td>
          <td>
            {{ cook.years_of_experience }} year{{ cook.years_of_experience|pluralize }}
          </td>
          <td>
            {{ cook.id }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no cooks in Kitchen</p>
  {% endif %}
{% endblock %}
