{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<h1>Dish type list <a class="btn btn-primary" style="float: right" href="{% url 'kitchen:dish-type-create' %}">+</a></h1>
    <form method="get" action="" class="form-inline d-flex">
      <div class="me-2">{{ search_form|crispy }}</div>
      <input class="btn btn-secondary" type="submit" value="👀">
    </form>

  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>Type</th>
        <th>Update</th>
        <th>Delete</th>
        <th>ID</th>
      </tr>
      {% for dish_type in dish_type_list %}
      	<tr>
          <td>
            <a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">{{ dish_type.name }}</a>
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">DELETE</a>
          </td>
          <td>
            {{ dish_type.id }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no dish types in Kitchen</p>
  {% endif %}
{% endblock %}
