{% extends "layouts/base.html" %}

{% block title %} Shynok {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <h1>Welcome to our kitchen</h1>
  <br>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-symbols-outlined">chef_hat</i>
            </div>
            <p class="card-category">Cooks</p>
            <h3 class="card-title">{{ num_cooks }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons"></i>Best chefs
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-symbols-outlined">menu_book</i>
            </div>
            <p class="card-category">Dish Types</p>
            <h3 class="card-title">{{ num_type_dishes }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons"></i> Variety of dishes
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-symbols-outlined">restaurant</i>
            </div>
            <p class="card-category">Dishes</p>
            <h3 class="card-title">{{ num_dishes }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons"></i> Must Try!
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
